@font-face {
  font-family: "InterVariable";
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/static/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/static/Inter-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/static/Inter-SemiBold.ttf");
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey700: hsl(0, 0%, 20%);
  --grey800: hsl(0, 0%, 12%);
  --grey900: hsl(0, 0%, 8%);
}
